<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="bookmarkCtrl">
        <h1>북마크 목록</h1>
        <div>
            <ul>
                <li ng-repeat="bookmark in bookmarkList">
                    <em>{{bookmark.name}}</em> : <span>{{ bookmark.url }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- End dashboard content -->