<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="contactCtrl">
        <ul>
            <li ng-repeat="contact in contactList">
                {{ contact.id }} | {{ contact.name }}
                <button ng-click="viewDetail(contact.id)">상세</button>
            </li>
        </ul>
    </div>
</div>

<!-- End dashboard content -->