<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-model="contact">
        <h1>상세</h1>
        <p>{{ contact.id }} | {{ contact.name }} | {{ contact.email }} | {{ contact.phone }}</p>
    </div>
</div>

<!-- End dashboard content -->