<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="cookieCtrl">
        <h1>Cookie 서비스 사용</h1>
        <p>test 키로 지정된 값 : {{value}}</p>
        <button ng-click="getValue()">쿠키가져오기</button>
        <br>
        <input type="text" ng-model="iValue"><button ng-click="putValue(iValue)">쿠키저장</button>
    </div>
</div>

<!-- End dashboard content -->