<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="directiveTranscludeCtrl">
        <panel title="알림" type="alert">
            <p>AngularJS makes it easy to develop JavaScript web applications.</p>
        </panel>
        <panel title="공지사항 목록" type="info">
            <ul>
                <li ng-repeat="notice in noticeList"><a href="{{notice.url}}">{{notice.text}}</a></li>
            </ul>
        </panel>
    </div>
</div>

<!-- End dashboard content -->