<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="filterCtrl">
        <h1>필터 사용 예제</h1>
        <div>사용자 이름:<input type="text" ng-model="search.userName"></div>
        <ul>
            <li ng-repeat="user in userList | filter:search">
                <p>{{user.userId}} | {{user.userName}} | {{user.userEmail}}</p>
            </li>
        </ul>
        <h2>limitTo 필터 사용</h2>
        <div>제한 갯수: <input type="number" ng-model="limitNum"></div>
        <ul>
            <li ng-repeat="user in userList | limitTo:limitNum">
                <p>{{user.userId}} | {{user.userName}} | {{user.userEmail}}</p>
            </li>
        </ul>
        <h2>orderBy 필터 사용</h2>
        <div>
            정렬 순서 :
            아이디 <input type="radio" ng-model="order" value="userId">
            이름 <input type="radio" ng-model="order" value="userName">
            <br>
            역순 여부 : <input type="checkbox" ng-model="reverse">
        </div>
        <ul>
            <li ng-repeat="user in userList | orderBy:order:reverse">
                <p>{{user.userId}} | {{user.userName}} | {{user.userEmail}}</p>
            </li>
        </ul>
        <p>{{ hello | capitalize }}</p>
    </div>
</div>

<!-- End dashboard content -->