<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="httpCtrl">
        <info-box info-message="msg"></info-box>
        <p class="user">
            사용자 아이디 : {{ user.userId }}<br>
            사용자 이름 : {{ user.userName }}<br>
            사용자 메일 : {{ user.userEmail }}<br>
        </p>
        <div><button ng-click="search()">조회</button></div>
    </div>
    <hr>
    <div ng-controller="httpExamCtrl">
        <div>
            사용자 ID : <input type="text" ng-model="searchObj.userId">
            <button ng-click="search(searchObj)" ng-disabled="editable">조회</button>
        </div>
        <p ng-if="error">{{ error }}</p>
        <br>
        <form class="user" name="userForm">
            사용자 아이디 : <input type="text" ng-model="user.userId" ng-disabled="!editable"><br>
            사용자 이름 : <input type="text" ng-model="user.userName" ng-disabled="!editable"><br>
            사용자 이름 : <input type="text" ng-model="user.userEmail" ng-disabled="!editable"><br>
        </form>
        <br>
        <div ng-show="!edit">
            <button ng-click="update()" ng-show="isSearched">수정</button>
            <button ng-click="insert()">신규</button>
            <button ng-click="delete(user)" ng-show="isSearched">삭제</button>
        </div>
        <div ng-show="edit">
            <button ng-click="save(edit, user)">저장</button>
            <button ng-click="cancel()">취소</button>
        </div>
    </div>
    <div ng-controller="xmlCtrl">
        <div>요청 결과 값</div>
        <p>{{ result }}</p>
    </div>
</div>

<!-- End dashboard content -->