<!-- Start dashboard content -->

<div class="w3-container">
    <script>
        $(function()
        {
            var injector = angular.injector(['ng', 'dashboard']);
            var hasHello = injector.has('Hello');
            var HelloSvc = null;

            var invokedReturnValue = null;
            var helloAppenderInstance1 = null;
            var helloAppenderInstance2 = null;

            invokedReturnValue = injector.invoke(function (Hello)
            {
                var hello = Hello.helloTo("철수");
                $('#inj').append(hello);
                return hello;
            });

            function HelloAppender(Hello, $compile, $rootScope)
            {
                var helloEl = $('<p>{{hello}}</p>');
                var scope = $rootScope.$new();

                scope.hello = "";
                $('#inj').append($compile(helloEl)(scope));

                this.setName = function (name)
                {
                    scope.hello = Hello.helloTo(name);
                    scope.$digest();
                };
            }

            helloAppenderInstance1 = injector.instantiate(HelloAppender);
            helloAppenderInstance2 = injector.instantiate(HelloAppender);
            helloAppenderInstance1.setName("철수");
            helloAppenderInstance2.setName("영희");

            console.log("invokedReturnValue :", invokedReturnValue);
            console.log("helloAppenderInstance1 :", helloAppenderInstance1);
            console.log("helloAppenderInstance2 :", helloAppenderInstance2);


            if(hasHello)
            {
                HelloSvc = injector.get('Hello');
                HelloSvc.helloTo("철수");
            }
        });
    </script>
    <div id="inj">
        <h1>Injector</h1>
    </div>
</div>

<!-- End dashboard content -->