<div class="w3-container w3-row">
    <div class="w3-col s4">
        <img src="image/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
        <span>Welcome, <strong>Mike</strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
</div>
<hr>
<div class="w3-container">
    <h5><a href="#/">Dashboard</a></h5>
</div>
<!-- TODO: using $route -->
<div class="w3-bar-block" ng-repeat="menu in leftmenus">
    <a href="#/{{menu}}" class="w3-bar-item w3-button w3-padding" ng-click="setHeadTitle(menu)"> > {{ menu }} </a>
</div>