<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="promiseCtrl">
        <h1>3초 안에 답</h1>
        10-1+29+2-1 = <input type="text" ng-model="answer" ng-disabled="result">
        <button ng-click="giveUp()">포기</button>
        <p>{{result}}</p>
        <p>{{info}}</p>
    </div>
</div>

<!-- End dashboard content -->