<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="qallCtrl">
        <ul>
            <li ng-repeat="user in userList">{{ user.userName }}, {{ user.userEmail }}</li>
        </ul>
    </div>
    <div ng-controller="interceptCtrl">
        <button ng-click="send()">요청보내기</button>
        <p>{{ result }}</p>
    </div>
</div>

<!-- End dashboard content -->