<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="sampleDirectiveCtrl">
        <p ng:style="getStyle()">hello</p>
        <p class="ng_style: getStyle();">hello</p>
        <ng-form name="groupForm">
          <form name="formA"><input type="text"></form>
          <form name="formB"><input type="text"></form>
        </ng-form>
    </div>
    <div hello name="Test"></div>
</div>

<!-- End dashboard content -->