<!-- Start dashboard content -->

<div class="w3-container">
    <div>
        <form name="myRouteForm">
            <div>
                출발 국가 :
                <select ng-model="depCountry" ng-options="country.name for country in countryList" ng-required="true">
                    <option value="">선택하여 주세요</option>
                </select>
            </div>
            <div>
                경유 국가 :
                <select ng-model="viaCountry" ng-options="country.name as country.name for country in countryList">
                    <option value="">선택하여 주세요</option>
                </select>
            </div>
            <div>
                도착 국가(대륙 그룹별):
                <select ng-model="arrCountry" ng-options="country.name group by country.continent for country in countryList" ng-required="true">
                    <option value="">선택하여 주세요</option>
                </select>
            </div>
        </form>
        <div>
            <p>출발 국가 : {{depCountry.name}}</p>
            <p>경유 국가 : {{viaCountry}}</p>
            <p>도착 국가 : {{arrCountry.name}}</p>
        </div>
        <div ng-show="myRouteForm.$invalid">
            출발 국가와 도착 국가는 필히 선택해주세요.
        </div>

    </div>

</div>

<!-- End dashboard content -->