<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="setScopeCtrl">
        <!--<div set-scope name="google"></div>-->
        <!--<div set-scope name="naver"></div>-->
        <!--<div set-scope to="google"></div>-->
        <!--<div set-scope to="naver"></div>-->
        <!--<div set-scope></div>-->
        <!--<div ng-repeat="helloSb in helloList" set-scope to="{{ helloSb.name }}" send="sendMessage(helloSb.name)"></div>-->
        <ul>
            <li ng-repeat="helloSb in helloList">
                {{ $index + 1 }}<input type="text" ng-model="helloSb.name">
            </li>
        </ul>
        <div ng-repeat="helloSb in helloList" set-scope to="helloSb.name"></div>
    </div>
</div>

<!-- End dashboard content -->
