<div class="w3-container">
    <div ng-controller="sparklineCtrl">
        <input type="number" ng-model="chartData[0]">
        <input type="number" ng-model="chartData[1]">
        <input type="number" ng-model="chartData[2]"><br>
        <p>데이터 : {{chartData}}</p>
        <ng-sparkline chart-data="chartData" chart-type="bar" chart-click="handleClick(x, y)"></ng-sparkline>
        <ng-sparkline chart-data="chartData" chart-type="line" chart-click="handleClick(x, y)"></ng-sparkline>
        <p>선택한 데이터 : x는 {{ selectedData.x }} y는 {{ selectedData.y }}</p>
    </div>
</div>