<!-- Start dashboard content -->

<div class="w3-container">
    <div ng-controller="userFactoryCtrl">
        <p>App name : {{ appNm }}</p>
        <div>
            이름 : <input type="text" ng-model="newUser.name"><br>
            이메일 : <input type="text" ng-model="newUser.email"><br>
            <button ng-click="addNewUser(newUser)">Add New User</button>
        </div>
        <ul>
            <li ng-repeat="user in users">{{ user.name }}, {{ user.email }}</li>
        </ul>
    </div>
    <hr>
    <div ng-controller="calCtrl">
        <p>10 + 3 = {{ val1 }}</p>
        <p>20 - 10 = {{ val2 }}</p>
    </div>
    <div ng-controller="prov">

    </div>
    <circle></circle>
</div>

<!-- End dashboard content -->