.panel
{
    margin: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid black;

}
.panel.info .panel-title
{
    background-color: gray;
    color: white;
}

.panel.alert .panel-title
{
    background-color: red;
    color: white;
}

.panel .panel-title
{
    background-color: black;
    color: white;
    padding: 10px;
}

.panel .panel-content
{
    padding: 10px;
}